<div class="background">
  <div class="container">
    <img src="lol-logo-pequeno.png" alt="Logo do jogo League of Legends">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Iniciar sessão</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput>
          </mat-form-field>
        </form>
        <mat-card-actions>
          <button mat-flat-button>Entrar</button>
          <p>Não possui uma conta? <a href="#">Registre-se!</a></p>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>