<div class="background">
  <div class="container">
    <img src="lol-logo-pequeno.png" alt="Logo do jogo League of Legends">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Iniciar sessão</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-card-actions>
            @if (!this.loginForm.valid) {
              <button mat-flat-button disabled class="btn-color-disabled">Entrar</button>
            } @else {
              <button mat-flat-button class="btn-color">Entrar</button>
            }
            <p>Não possui uma conta? <a routerLink="/register">Registre-se!</a></p>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
