.background {
  background-image: url('../../../../public/background/bard.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
}

mat-card {
  background-color: rgba(13, 18, 38, 0.8);
  background: radial-gradient(circle, rgba(14,19,37,1) 0%, rgba(27,38,78,1) 90%, rgba(40,56,117,1) 100%);
  color: rgb(255, 255, 255);
}

mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card-title {
  margin-bottom: 10px;
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

mat-card-actions button {
  background-color: rgb(233, 154, 53);
  color: rgb(0, 0, 0);
}

mat-card-actions a {
  color: rgb(40, 120, 180);
}

@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
    left: 0;
  }
}
